
@{
    ViewBag.Title = "ListProducts";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
@using PagedList
@using WebTraFashion.Models
@model IEnumerable<tbl_products_tra>
@*@{

    TrafashionEntities db = new TrafashionEntities();
    var queryProduct = from data in db.tbl_products_tra where data.status_products_tra == 1 orderby data.id_products_tra descending select data;

}*@
@Html.Partial("Header")
<div class="container">
    <ul class="breadcrumb">
        <li><a href="index.php?route=common/home">Home</a></li>
        <li><a href="CARPET BAGS " style="display: none;">CARPET BAGS </a><span>CARPET BAGS </span></li>
    </ul>
    <div class="row">


        @Html.Partial("ListProductsByID", Model)
      

        <aside class="col-sm-3 " id="column-right">
            @*<div class="box account info">
                <div class="box-heading">
                    <h3>Account</h3>
                </div>
                <div class="box-content">
                    <ul>
                        <li><a href="index.php?route=account/login">Login</a></li>
                        <li><a href="index.php?route=account/register">Register</a></li>
                        <li><a href="index.php?route=account/forgotten">Forgotten Password</a></li>
                        <li><a href="index.php?route=account/account">My Account</a></li>
                        <li><a href="index.php?route=account/address">Address Book</a></li>
                        <li><a href="index.php?route=account/wishlist">Wish List</a> </li>
                        <li><a href="index.php?route=account/order">Order History</a> </li>
                        <li><a href="index.php?route=account/download">Downloads</a></li>
                        <li><a href="index.php?route=account/reward">Reward Points</a></li>
                        <li><a href="index.php?route=account/return">Returns</a></li>
                        <li><a href="index.php?route=account/transaction">Transactions</a> </li>
                        <li><a href="index.php?route=account/newsletter">Newsletter</a></li>
                        <li><a href="index.php?route=account/recurring">Recurring payments</a></li>
                    </ul>
                </div>
            </div>*@
            <div class="box featured">
                <div class="box-heading"><h3>Featured</h3></div>
                <div class="box-content">
                    <div class="row">
                        <div class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="product-thumb transition options">

                                <div class="product-option-wrap">
                                    <div class="product-options form-horizontal">
                                        <div class="options">
                                            <a href="#" class="ajax-overlay_close"></a>
                                            <h3>Available Options</h3>
                                            <div class="form-group hidden">
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" value="43" name="product_id">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="control-label col-sm-12">Color</label>
                                                <div class="col-sm-12">
                                                    <div id="input-option2702001">
                                                        <div class="radio">
                                                            <input type="radio" hidden="" value="70" id="option[27]709" name="option[27]"><label for="option[27]709">
                                                                black (+$10.00)
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <input type="radio" hidden="" value="71" id="option[27]7110" name="option[27]"><label for="option[27]7110">
                                                                white (+$20.00)
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <input type="radio" hidden="" value="72" id="option[27]7211" name="option[27]"><label for="option[27]7211">
                                                                red (+$15.00)
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-option2602001" class="control-label col-sm-12">Size</label>
                                                <div class="col-sm-12">
                                                    <div id="sbHolder_12325304" class="sbHolder">
                                                        <a id="sbToggle_12325304" href="#" class="sbToggle"></a><a id="sbSelector_12325304" href="#" class="sbSelector">--- Please Select ---</a><ul id="sbOptions_12325304" class="sbOptions" style="display: none;">
                                                            <li><a href="#" rel="" class="sbFocus">--- Please Select ---</a></li>
                                                            <li>
                                                                <a href="#67" rel="67">
                                                                    Small (+$20.00)
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#68" rel="68">
                                                                    Medium (+$15.00)
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#69" rel="69">
                                                                    Large (+$10.00)
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div><select class="form-control" id="input-option2602001" name="option[26]" sb="12325304" style="display: none;">
                                                        <option value="">--- Please Select ---</option>
                                                        <option value="67">
                                                            Small (+$20.00)
                                                        </option>
                                                        <option value="68">
                                                            Medium (+$15.00)
                                                        </option>
                                                        <option value="69">
                                                            Large (+$10.00)
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <button onclick="cart.addPopup($(this),'43');" type="button" class="product-btn-add">
                                                <span>Add to Cart</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="quick_info">
                                    <div class="quickview-style" id="quickview_20010">
                                        <div>
                                            <div class="left col-sm-4">
                                                <div class="quickview_image image">
                                                    <a href="Miranda"><img src="img/product-31-270x270.png" class="img-responsive" title="Salvatore" alt="Salvatore"></a>
                                                </div>
                                            </div>
                                            <div class="right col-sm-8">
                                                <h2>Salvatore</h2>
                                                <div class="inf">
                                                    <p class="quickview_manufacture manufacture manufacture">
                                                        Brand: <a href="apple">Versace</a>
                                                    </p>
                                                    <p class="product_model model">Model: Product 16</p>
                                                    <div class="price">
                                                        <span class="price-new">$400.00</span>
                                                        <span class="price-old">$500.00</span>
                                                    </div>
                                                </div>
                                                <div class="rating">
                                                    <span class="fa-stack">
                                                        <i class="material-icons-star   fa-stack-1x"></i>
                                                        <i class="material-icons-star star  fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa-stack">
                                                        <i class="material-icons-star   fa-stack-1x"></i>
                                                        <i class="material-icons-star star  fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa-stack">
                                                        <i class="material-icons-star   fa-stack-1x"></i>
                                                        <i class="material-icons-star star  fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa-stack">
                                                        <i class="material-icons-star   fa-stack-1x"></i>
                                                        <i class="material-icons-star star  fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa-stack">
                                                        <i class="material-icons-star   fa-stack-1x"></i>
                                                        <i class="material-icons-star star  fa-stack-1x"></i>
                                                    </span>
                                                </div>
                                                <button onclick="cart.add('43');" type="button" title="" data-toggle="tooltip" class="product-btn-add" data-original-title="Add to Cart">
                                                    <i class="mat-icons material-icons-shopping_basket"></i>
                                                    <span>Add to Cart</span>
                                                </button>
                                                <ul class="product-buttons">
                                                    <li>
                                                        <button onclick="wishlist.add('43');" title="" data-toggle="tooltip" type="button" class="btn btn-icon" data-original-title="Add to Wish List">
                                                            <i class="mat-icons material-icons-favorite_border"></i>
                                                            <span>Add to Wish List</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button onclick="compare.add('43');" title="" data-toggle="tooltip" type="button" class="btn btn-icon" data-original-title="Compare this Product">
                                                            <i class="mat-icons material-icons-sort"></i>
                                                            <span>Compare this Product</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="quickview_description description">
                                                    <p>
                                                        <b>
                                                            Welcome to the world of fashion.
                                                        </b> We are proud to present you the largest choice of handbags on the web.
                                                        Here you can find a great number of different goods. Our store offers stylish, premium quality handbags at the lowest possible prices.
                                                    </p>
                                                    <p>
                                                        <b>
                                                            We have a perfect reputation and great experience
                                                        </b> in this sphere and that is why our products are so popular and
                                                        have many faithful fans all over the country. What we sell are not just simple handbags; the products of our shop are the
                                                        part of a style because nowadays handbag is the essential detail of the women’s wardrobe. We know how important it is for the
                                                        modern women to have several interesting and trendy bags.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sale"><span>Sale</span></div>
                                <div class="aside-block">
                                    <div class="image">
                                        <a href="Miranda" style="padding-bottom: 100%" class="lazy lazy-loaded">
                                            <img src="img/product-31-270x270.png" data-src="img/product-31-270x270.png" class="img-responsive" title="Salvatore" alt="Salvatore">
                                        </a>
                                        <a href="#quickview_20010" data-rel="details" class="quickview">
                                            Quick View
                                        </a>
                                    </div>
                                    <div class="caption">
                                        <div class="name">
                                            <a href="Miranda">Salvatore</a>
                                        </div>

                                        <div class="price">
                                            <span class="price-new">$400.00</span> <span class="price-old">$500.00</span>
                                        </div>
                                    </div>
                                    <div class="cart-button">
                                        <div class="rating">
                                            <span class="fa-stack">
                                                <i class="material-icons-star   fa-stack-1x"></i>
                                                <i class="material-icons-star star  fa-stack-1x"></i>
                                            </span>
                                            <span class="fa-stack">
                                                <i class="material-icons-star   fa-stack-1x"></i>
                                                <i class="material-icons-star star  fa-stack-1x"></i>
                                            </span>
                                            <span class="fa-stack">
                                                <i class="material-icons-star   fa-stack-1x"></i>
                                                <i class="material-icons-star star  fa-stack-1x"></i>
                                            </span>
                                            <span class="fa-stack">
                                                <i class="material-icons-star   fa-stack-1x"></i>
                                                <i class="material-icons-star star  fa-stack-1x"></i>
                                            </span>
                                            <span class="fa-stack">
                                                <i class="material-icons-star   fa-stack-1x"></i>
                                                <i class="material-icons-star star  fa-stack-1x"></i>
                                            </span>
                                        </div>
                                        <div class="btns-block">
                                            <button onclick="ajaxAdd($(this),43);" type="button" title="" data-toggle="tooltip" class="product-btn-add" data-original-title="Add to Cart">
                                                <i class="mat-icons material-icons-shopping_basket"></i>
                                                <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
                                            </button>
                                            <button onclick="wishlist.add('43');" title="" data-toggle="tooltip" type="button" class="product-btn" data-original-title="Add to Wish List">
                                                <i class="mat-icons material-icons-favorite_border"></i>
                                            </button>
                                            <button onclick="compare.add('43');" title="" data-toggle="tooltip" type="button" class="product-btn" data-original-title="Compare this Product">
                                                <i class="mat-icons material-icons-sort"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="product-thumb transition options">

                                <div class="product-option-wrap">
                                    <div class="product-options form-horizontal">
                                        <div class="options">
                                            <a href="#" class="ajax-overlay_close"></a>
                                            <h3>Available Options</h3>
                                            <div class="form-group hidden">
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" value="40" name="product_id">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label class="control-label col-sm-12">Color</label>
                                                <div class="col-sm-12">
                                                    <div id="input-option1902002">
                                                        <div class="radio">
                                                            <input type="radio" hidden="" value="55" id="option[19]5512" name="option[19]"><label for="option[19]5512">
                                                                black (+$10.00)
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <input type="radio" hidden="" value="56" id="option[19]5613" name="option[19]"><label for="option[19]5613">
                                                                white (+$20.00)
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <input type="radio" hidden="" value="57" id="option[19]5714" name="option[19]"><label for="option[19]5714">
                                                                red (+$15.00)
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label for="input-option1802002" class="control-label col-sm-12">Size</label>
                                                <div class="col-sm-12">
                                                    <div id="sbHolder_97479521" class="sbHolder">
                                                        <a id="sbToggle_97479521" href="#" class="sbToggle"></a><a id="sbSelector_97479521" href="#" class="sbSelector">--- Please Select ---</a><ul id="sbOptions_97479521" class="sbOptions" style="display: none;">
                                                            <li><a href="#" rel="" class="sbFocus">--- Please Select ---</a></li>
                                                            <li>
                                                                <a href="#52" rel="52">
                                                                    Small (+$20.00)
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#53" rel="53">
                                                                    Medium (+$15.00)
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#54" rel="54">
                                                                    Large (+$10.00)
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div><select class="form-control" id="input-option1802002" name="option[18]" sb="97479521" style="display: none;">
                                                        <option value="">--- Please Select ---</option>
                                                        <option value="52">
                                                            Small (+$20.00)
                                                        </option>
                                                        <option value="53">
                                                            Medium (+$15.00)
                                                        </option>
                                                        <option value="54">
                                                            Large (+$10.00)
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <button onclick="cart.addPopup($(this),'40');" type="button" class="product-btn-add">
                                                <span>Add to Cart</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="quick_info">
                                    <div class="quickview-style" id="quickview_20020">
                                        <div>
                                            <div class="left col-sm-4">
                                                <div class="quickview_image image">
                                                    <a href="index.php?route=product/product&amp;product_id=40"><img src="img/product-16-270x270.png" class="img-responsive" title="Miranda Shopper" alt="Miranda Shopper"></a>
                                                </div>
                                            </div>
                                            <div class="right col-sm-8">
                                                <h2>Miranda Shopper</h2>
                                                <div class="inf">
                                                    <p class="quickview_manufacture manufacture manufacture">
                                                        Brand: <a href="apple">Versace</a>
                                                    </p>
                                                    <p class="product_model model">Model: product 11</p>
                                                    <div class="price">
                                                        $101.00
                                                    </div>
                                                </div>
                                                <div class="rating">
                                                    <span class="fa-stack">
                                                        <i class="material-icons-star   fa-stack-1x"></i>
                                                        <i class="material-icons-star star  fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa-stack">
                                                        <i class="material-icons-star   fa-stack-1x"></i>
                                                        <i class="material-icons-star star  fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa-stack">
                                                        <i class="material-icons-star   fa-stack-1x"></i>
                                                        <i class="material-icons-star star  fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa-stack">
                                                        <i class="material-icons-star   fa-stack-1x"></i>
                                                        <i class="material-icons-star star  fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa-stack">
                                                        <i class="material-icons-star   fa-stack-1x"></i>
                                                        <i class="material-icons-star star  fa-stack-1x"></i>
                                                    </span>
                                                </div>
                                                <button onclick="cart.add('40');" type="button" title="" data-toggle="tooltip" class="product-btn-add" data-original-title="Add to Cart">
                                                    <i class="mat-icons material-icons-shopping_basket"></i>
                                                    <span>Add to Cart</span>
                                                </button>
                                                <ul class="product-buttons">
                                                    <li>
                                                        <button onclick="wishlist.add('40');" title="" data-toggle="tooltip" type="button" class="btn btn-icon" data-original-title="Add to Wish List">
                                                            <i class="mat-icons material-icons-favorite_border"></i>
                                                            <span>Add to Wish List</span>
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button onclick="compare.add('40');" title="" data-toggle="tooltip" type="button" class="btn btn-icon" data-original-title="Compare this Product">
                                                            <i class="mat-icons material-icons-sort"></i>
                                                            <span>Compare this Product</span>
                                                        </button>
                                                    </li>
                                                </ul>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="quickview_description description">
                                                    <p><b>Welcome to the world of fashion.</b> We are proud to present you the largest choice of handbags on the web. Here you can find a great number of different goods. Our store offers stylish, premium quality handbags at the lowest possible prices. </p><p><b>We have a perfect reputation and great experience</b> in this sphere and that is why our products are so popular and have many faithful fans all over the country. What we sell are not just simple handbags; the products of our shop are the part of a style because nowadays handbag is the essential detail of the women’s wardrobe. We know how important it is for the modern women to have several interesting and trendy bags. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="aside-block">
                                    <div class="image">
                                        <a href="index.php?route=product/product&amp;product_id=40" style="padding-bottom: 100%" class="lazy lazy-loaded">
                                            <img src="img/product-16-270x270.png" data-src="img/product-16-270x270.png" class="img-responsive" title="Miranda Shopper" alt="Miranda Shopper">
                                        </a>
                                        <a href="#quickview_20020" data-rel="details" class="quickview">
                                            Quick View
                                        </a>
                                    </div>
                                    <div class="caption">
                                        <div class="name">
                                            <a href="index.php?route=product/product&amp;product_id=40">Miranda Shopper</a>
                                        </div>

                                        <div class="price">
                                            $101.00
                                        </div>
                                    </div>
                                    <div class="cart-button">
                                        <div class="rating">
                                            <span class="fa-stack">
                                                <i class="material-icons-star   fa-stack-1x"></i>
                                                <i class="material-icons-star star  fa-stack-1x"></i>
                                            </span>
                                            <span class="fa-stack">
                                                <i class="material-icons-star   fa-stack-1x"></i>
                                                <i class="material-icons-star star  fa-stack-1x"></i>
                                            </span>
                                            <span class="fa-stack">
                                                <i class="material-icons-star   fa-stack-1x"></i>
                                                <i class="material-icons-star star  fa-stack-1x"></i>
                                            </span>
                                            <span class="fa-stack">
                                                <i class="material-icons-star   fa-stack-1x"></i>
                                                <i class="material-icons-star star  fa-stack-1x"></i>
                                            </span>
                                            <span class="fa-stack">
                                                <i class="material-icons-star   fa-stack-1x"></i>
                                                <i class="material-icons-star star  fa-stack-1x"></i>
                                            </span>
                                        </div>
                                        <div class="btns-block">
                                            <button onclick="ajaxAdd($(this),40);" type="button" title="" data-toggle="tooltip" class="product-btn-add" data-original-title="Add to Cart">
                                                <i class="mat-icons material-icons-shopping_basket"></i>
                                                <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
                                            </button>
                                            <button onclick="wishlist.add('40');" title="" data-toggle="tooltip" type="button" class="product-btn" data-original-title="Add to Wish List">
                                                <i class="mat-icons material-icons-favorite_border"></i>
                                            </button>
                                            <button onclick="compare.add('40');" title="" data-toggle="tooltip" type="button" class="product-btn" data-original-title="Compare this Product">
                                                <i class="mat-icons material-icons-sort"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box latest">
                <div class="box-heading">
                    <h3>Latest Products</h3>
                    <span>
                        Thank you for visiting our site! You are at the right place! We are focused on providing integrated solutions and services to customers around the world.
                    </span>
                </div>
                <div class="box-content">
                    <div class="box-carousel">
                        <div class="product-thumb transition options">

                            <div class="product-option-wrap">
                                <div class="product-options form-horizontal">
                                    <div class="options">
                                        <a href="#" class="ajax-overlay_close"></a>
                                        <h3>Available Options</h3>
                                        <div class="form-group hidden">
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" value="49" name="product_id">
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label class="control-label col-sm-12">Color</label>
                                            <div class="col-sm-12">
                                                <div id="input-option3703001">
                                                    <div class="radio">
                                                        <input type="radio" hidden="" value="100" id="option[37]100" name="option[37]"><label for="option[37]100">
                                                            black (+$10.00)
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <input type="radio" hidden="" value="101" id="option[37]101" name="option[37]"><label for="option[37]101">
                                                            white (+$20.00)
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <input type="radio" hidden="" value="102" id="option[37]102" name="option[37]"><label for="option[37]102">
                                                            red (+$15.00)
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            <label for="input-option3603001" class="control-label col-sm-12">Size</label>
                                            <div class="col-sm-12">
                                                <div id="sbHolder_44044178" class="sbHolder">
                                                    <a id="sbToggle_44044178" href="#" class="sbToggle"></a><a id="sbSelector_44044178" href="#" class="sbSelector">--- Please Select ---</a><ul id="sbOptions_44044178" class="sbOptions" style="display: none;">
                                                        <li><a href="#" rel="" class="sbFocus">--- Please Select ---</a></li>
                                                        <li>
                                                            <a href="#97" rel="97">
                                                                Small (+$20.00)
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#98" rel="98">
                                                                Medium (+$15.00)
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#99" rel="99">
                                                                Large (+$10.00)
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div><select class="form-control" id="input-option3603001" name="option[36]" sb="44044178" style="display: none;">
                                                    <option value="">--- Please Select ---</option>
                                                    <option value="97">
                                                        Small (+$20.00)
                                                    </option>
                                                    <option value="98">
                                                        Medium (+$15.00)
                                                    </option>
                                                    <option value="99">
                                                        Large (+$10.00)
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <button onclick="cart.addPopup($(this),'49');" type="button" class="product-btn-add">
                                            <span>Add to Cart</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="quick_info">
                                <div class="quickview-style" id="quickview_latest_30010">
                                    <div>
                                        <div class="left col-sm-4">
                                            <div class="quickview_image image">
                                                <a href="Valentino Bags"><img src="img/product-49-270x270.png" class="img-responsive" title="Vivienne Handbag" alt="Vivienne Handbag"></a>
                                            </div>
                                        </div>
                                        <div class="right col-sm-8">
                                            <h2>Vivienne Handbag</h2>
                                            <div class="inf">
                                                <p class="product_model model">Model: SAM1</p>
                                                <div class="price">
                                                    <span class="price-new">$150.00</span>
                                                    <span class="price-old">$199.99</span>
                                                </div>
                                            </div>
                                            <div class="rating">
                                                <span class="fa-stack">
                                                    <i class="material-icons-star   fa-stack-1x"></i>
                                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                                </span>
                                                <span class="fa-stack">
                                                    <i class="material-icons-star   fa-stack-1x"></i>
                                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                                </span>
                                                <span class="fa-stack">
                                                    <i class="material-icons-star   fa-stack-1x"></i>
                                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                                </span>
                                                <span class="fa-stack">
                                                    <i class="material-icons-star   fa-stack-1x"></i>
                                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                                </span>
                                                <span class="fa-stack">
                                                    <i class="material-icons-star   fa-stack-1x"></i>
                                                    <i class="material-icons-star star  fa-stack-1x"></i>
                                                </span>
                                            </div>
                                            <button onclick="cart.add('49');" type="button" title="" data-toggle="tooltip" class="product-btn-add" data-original-title="Add to Cart">
                                                <i class="mat-icons material-icons-shopping_basket"></i>
                                                <span>Add to Cart</span>
                                            </button>
                                            <ul class="product-buttons">
                                                <li>
                                                    <button onclick="wishlist.add('49');" title="" data-toggle="tooltip" type="button" class="btn btn-icon" data-original-title="Add to Wish List">
                                                        <i class="mat-icons material-icons-favorite_border"></i>
                                                        <span>Add to Wish List</span>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button onclick="compare.add('49');" title="" data-toggle="tooltip" type="button" class="btn btn-icon" data-original-title="Compare this Product">
                                                        <i class="mat-icons material-icons-sort"></i>
                                                        <span>Compare this Product</span>
                                                    </button>
                                                </li>
                                            </ul>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="quickview_description description">
                                                <p>
                                                    <b>
                                                        Welcome to the world of fashion.
                                                    </b> We are proud to present you the largest choice of handbags on the web.
                                                    Here you can find a great number of different goods. Our store offers stylish, premium quality handbags at the lowest possible prices.
                                                </p>
                                                <p>
                                                    <b>
                                                        We have a perfect reputation and great experience
                                                    </b> in this sphere and that is why our products are so popular and
                                                    have many faithful fans all over the country. What we sell are not just simple handbags; the products of our shop are the
                                                    part of a style because nowadays handbag is the essential detail of the women’s wardrobe. We know how important it is for the
                                                    modern women to have several interesting and trendy bags.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="new_pr"><span>New</span></div>
                            <div class="aside-block">
                                <div class="image">
                                    <a href="#quickview_latest_30010" data-rel="details" class="quickview quickview-latest">
                                        Quick View
                                    </a>
                                    <a href="Valentino Bags" style="padding-bottom: 100%" class="lazy lazy-loaded">
                                        <img src="img/product-49-270x270.png" data-src="img/product-49-270x270.png" class="img-responsive" title="Vivienne Handbag" alt="Vivienne Handbag">
                                    </a>
                                </div>
                                <div class="caption">
                                    <div class="name">
                                        <a href="Valentino Bags">
                                            Vivienne Handbag
                                        </a>
                                    </div>

                                    <div class="price">
                                        <span class="price-new">
                                            $150.00
                                        </span>
                                        <span class="price-old">
                                            $199.99
                                        </span>
                                    </div>
                                </div>
                                <div class="cart-button">
                                    <div class="rating">
                                        <span class="fa-stack">
                                            <i class="material-icons-star   fa-stack-1x"></i>
                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                        </span>
                                        <span class="fa-stack">
                                            <i class="material-icons-star   fa-stack-1x"></i>
                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                        </span>
                                        <span class="fa-stack">
                                            <i class="material-icons-star   fa-stack-1x"></i>
                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                        </span>
                                        <span class="fa-stack">
                                            <i class="material-icons-star   fa-stack-1x"></i>
                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                        </span>
                                        <span class="fa-stack">
                                            <i class="material-icons-star   fa-stack-1x"></i>
                                            <i class="material-icons-star star  fa-stack-1x"></i>
                                        </span>
                                    </div>
                                    <div class="btns-block">
                                        <button onclick="ajaxAdd($(this),49);" type="button" title="" data-toggle="tooltip" class="product-btn-add" data-original-title="Add to Cart">
                                            <i class="mat-icons material-icons-shopping_basket"></i>
                                            <span class="hidden-xs hidden-sm hidden-md">Add to Cart</span>
                                        </button>
                                        <button onclick="wishlist.add('49');" title="" data-toggle="tooltip" type="button" class="product-btn" data-original-title="Add to Wish List">
                                            <i class="mat-icons material-icons-favorite_border"></i>
                                        </button>
                                        <button onclick="compare.add('49');" title="" data-toggle="tooltip" type="button" class="product-btn" data-original-title="Compare this Product">
                                            <i class="mat-icons material-icons-sort"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>



