@{
   
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<footer>

    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer_box">
                    <h5>Information</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="http://livedemo00.template-help.com/opencart_57682/index.php?route=information/information&amp;information_id=4">About</a>
                        </li>
                        <li>
                            <a href="http://livedemo00.template-help.com/opencart_57682/index.php?route=information/information&amp;information_id=6">Delivery Information</a>
                        </li>
                        <li>
                            <a href="http://livedemo00.template-help.com/opencart_57682/index.php?route=information/information&amp;information_id=3">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="http://livedemo00.template-help.com/opencart_57682/index.php?route=information/information&amp;information_id=5">Terms &amp; Conditions</a>
                        </li>
                        <li><a href="http://livedemo00.template-help.com/opencart_57682/index.php?route=simple_blog/article">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer_box">
                    <h5>Customer Service</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="http://livedemo00.template-help.com/opencart_57682/index.php?route=information/contact">Contact Us</a>
                        </li>
                        <li>
                            <a href="http://livedemo00.template-help.com/opencart_57682/index.php?route=account/return/add">Returns</a>
                        </li>
                        <li>
                            <a href="http://livedemo00.template-help.com/opencart_57682/index.php?route=information/sitemap">Site Map</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer_box">
                    <h5>Extras</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="http://livedemo00.template-help.com/opencart_57682/index.php?route=product/manufacturer">Brands</a>
                        </li>
                        <li>
                            <a href="http://livedemo00.template-help.com/opencart_57682/index.php?route=account/voucher">Gift Vouchers</a>
                        </li>
                        <li>
                            <a href="http://livedemo00.template-help.com/opencart_57682/index.php?route=affiliate/account">Affiliates</a>
                        </li>
                        <li>
                            <a href="http://livedemo00.template-help.com/opencart_57682/index.php?route=product/special">Specials</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="footer_box">
                    <h5>My Account</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="http://livedemo00.template-help.com/opencart_57682/index.php?route=account/account">My Account</a>
                        </li>
                        <li>
                            <a href="http://livedemo00.template-help.com/opencart_57682/index.php?route=account/order">Order History</a>
                        </li>
                        <li>
                            <a href="http://livedemo00.template-help.com/opencart_57682/index.php?route=account/wishlist">Wish List</a>
                        </li>
                        <li>
                            <a href="http://livedemo00.template-help.com/opencart_57682/index.php?route=account/newsletter">Newsletter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="border"></div>
        <div class="fleft">
            <div class="logo-block">
                <a href="./"><img src="~/img/logo-footer.png" alt=""></a>
            </div>
            <div class="copyright">
                Powered By <a href="http://www.opencart.com">OpenCart</a><br /> Handbags online Store &copy; 2016
            </div> >
            <div class="fright">
                <div>
                    <dl>
                        <dt>Address:</dt>
                        <dd>
                            Glasgow D04 89GR
                        </dd>
                    </dl>
                </div>
                <div>
                    <address class="material-design-phone370">
                        <a href="callto:800-2345-6789">800-2345-6789</a>
                    </address>
                </div>
                <div>

                    <ul class="social-list list-unstyled">
                        <li>
                            <a href='//www.youtube.com'>
                                <i class="fa fa-facebook"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href='//www.youtube.com'>
                                <i class="fa fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href='//www.youtube.com'>
                                <i class="fa fa-google-plus"></i>
                                <span>Google Plus</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
