<div class="header_modules">
    <div class="fluid_container">
        <div class="camera_container">
            <div id="camera_wrap_0">
                <div title="slide-1" data-thumb="http://livedemo00.template-help.com/opencart_57682/image/cache/catalog/slide-1-1600x885.jpg" data-src="http://livedemo00.template-help.com/opencart_57682/image/cache/catalog/slide-1-1600x885.jpg">
                    <div class="camera_caption fadeIn">
                        <div class="container">
                            <h1 class="mod1">
                                THE LARGEST
                                <span>RANGE OF HANDBAGS</span>
                            </h1>
                            <div class="separator"></div>
                            <p>
                                Welcome to the number 1 company in the industry!
                                Looking for some helpful advice?
                            </p>
                            <a class="button" >Shop now!</a>
                        </div>
                    </div>
                </div>
                <div title="slide-2" data-thumb="http://livedemo00.template-help.com/opencart_57682/image/cache/catalog/slide-2-1600x885.jpg" data-src="http://livedemo00.template-help.com/opencart_57682/image/cache/catalog/slide-2-1600x885.jpg">
                    <div class="camera_caption fadeIn">
                        <div class="container">
                            <h1 class="mod1">
                                A tremendous collection
                                <span>of designer bags</span>
                            </h1>
                            <div class="separator"></div>
                            <p>
                                Welcome to the number 1 company in the industry!
                                Looking for some helpful advice?
                            </p>
                            <a class="button">Shop now!</a>
                        </div>
                    </div>
                </div>
                <div title="slide-3" data-thumb="http://livedemo00.template-help.com/opencart_57682/image/cache/catalog/slide-3-1600x885.jpg" data-src="http://livedemo00.template-help.com/opencart_57682/image/cache/catalog/slide-3-1600x885.jpg">
                    <div class="camera_caption fadeIn">
                        <div class="container">
                            <h1 class="mod1">
                                Amazing combination of style,
                                <span>beauty and latest trends.</span>
                            </h1>
                            <div class="separator"></div>
                            <p>
                                Welcome to the number 1 company in the industry!
                                Looking for some helpful advice?
                            </p>
                            <a class="button">Shop now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
